.cemetery-container {
  padding: 30px 30px 70px;
  background-color: #d2d8e8;
}
.cemetery-title {
  display: inline-block;
  padding: 15px 30px;
  background-color: #ede6d9;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.img {
  /* position: relative; */
  object-fit: cover;
  height: 200px;
  /* margin: 10px; */
  /* vertical-align: middle; */
  border-radius: 4px;
  width: 100%;
}

.cemetery-content {
  margin-top: 24px !important;
  padding: 0 30px;
}

.cemetery-pet-info {
  width: 100%;
  height: 244px;
  background: #ede6d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  box-sizing: border-box;
}

.pet-info-comment {
  margin: 24px 0 0 !important;
}

.comment-box {
  display: flex;
  width: 100%;
  height: 233px;
  background: #ede6d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.comment-input {
  align-self: flex-end;
  background-color: #fff;
  padding: 5px;
}

.comment-send {
  padding: 0 !important;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.icon {
  width: 8rem;
  height: 4rem;
}

.incense-button {
  margin-left: 10px !important;
  margin-top: 10px !important;
  background-color: #ede6d9 !important;
}

.MuiGrid-spacing-xs-6, .MuiGrid-spacing-xs-1 {
  width: 100% !important;
}

.sliderContainer {
  margin-top: 250px !important;
}

.slick-dots {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;
  top: -200px !important;
  bottom: auto !important;
}

.slick-dots li {
  width: 50px !important;
  height: 50px !important;
  margin-bottom: 10px !important;
}

.small-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

@media only screen and (max-width: 760px) {
  .small-image {
    width: 40px;
    height: 40px;
  }

  .slick-dots li {
    width: 40px !important;
    height: 40px !important;
  }
}

@media only screen and (max-width: 670px) {
  .small-image {
    width: 30px;
    height: 30px;
  }

  .slick-dots li {
    width: 30px !important;
    height: 30px !important;
  }
}

@media only screen and (max-width: 600px) {
  .small-image {
    width: 80px;
    height: 80px;
  }

  .slick-dots li {
    width: 80px !important;
    height: 80px !important;
  }

  .comment-send {
    align-items: center;
    margin-top: 30px !important;
  }

  .slick-dots {
    top: -300px !important;
  }

  .sliderContainer {
    margin-top: 330px !important;
  }
}