#image-container {
  display: flex;
  width: 45%;
  overflow-x: scroll;
  align-items: center;
  margin-left: 0 !important;
  background: #fff;
  padding: 10px !important;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.image {
  width: 70px !important;
  height: 70px;
  border-radius: 35px;
  background: #EDE6D9;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  flex-shrink: 0;
  margin-right: 10px !important;
}