.slider  {
  padding: 10px !important;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  background-color: #EDE6D9;
}

.image {
  width: 160px !important;
  height: 160px;
  border-radius: 75px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  flex-shrink: 0;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}
