#header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 20px 30px;
}

#logo {
  float: left;
  margin-left: 2rem !important;
}

.button {
  background: #ede6d9 !important;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.05);
  float: right;
  margin-left: 2rem !important;
}
