#graveyard-zone {
  position: relative;
  width: 90% !important;
  height: 90%;
  background-color: white;
  top: 5%;
  border: 2px solid #ede6d9 !important;
}

.graveyard-body {
  width: auto !important;
  position: absolute;
  background-color: #ede6d9;
  top: 7.5%;
  bottom: 7.5%;
  left: 5%;
  right: 5%;
  overflow-y: scroll;
}

.header {
  display: flex !important;
  width: 96% !important;
  text-align: center;
  padding-top: 10px;
  /* position: fixed; */
  background-color: #ede6d9;
  z-index: 3;
}

.x-icon {
  background: url("../../img/x.svg") no-repeat;
  width: 2rem !important;
  height: 2rem;
  cursor: pointer;
  z-index: 2;
  margin-left: auto !important;
  margin-right: 10px !important;
  border: none;
}

.x-icon:focus {
  border: none !important;
}

.zone-name {
  width: calc(100% - 4rem - 40px);
  margin-left: calc(2rem + 30px) !important;
  font-size: 1.4rem !important;
}

.headstone-list {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto;
  margin-top: 50px;
}
