#header {
  margin-top: 30px;
  margin-bottom: 30px;
}

.button { 
  background: #EDE6D9 !important;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.05);
}

.button:first-child {
  margin-right: 2rem;
}

.MuiFab-primary {
  color: #000 !important;
  background-color: #d2d8e8 !important;
}

.MuiMenu-list {
  background-color: #ede6d9;
}