#intro {
  display: flex;
  background: #D2D8E8 !important; 
  padding: 2rem !important;
}

.MuiContainer-root {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

#body {
  background: #EDE6D9 !important;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 2rem !important;
  display: flex;
}

#black-filter {
  position: fixed;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}